(username:"\u{7f}Player",server_addr:"127.0.0.1:1000",debug_mode:true,volume:100,window_scale:4,deck:[(name:"skeleton",type_:Troop,hp:5.0,attack:3.0,cost:2,abilities:[]),(name:"reaper",type_:Troop,hp:6.0,attack:4.0,cost:5,abilities:[SpiritCollector]),(name:"kraken",type_:Troop,hp:12.0,attack:1.0,cost:5,abilities:[MultiAttack(max_attacks:2,attack_count:0)]),(name:"spider",type_:Troop,hp:4.0,attack:2.0,cost:4,abilities:[Stun(amount:2)]),(name:"skeleton",type_:Troop,hp:5.0,attack:3.0,cost:2,abilities:[])])